#body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
}

#box {
    background-color: hsl(0, 0%, 100%);
    margin: 10%;
    border: 1px white solid;
    height: 350px;
    width: 200px;
    border-radius: 10px;
    display: grid;
    grid-auto-flow: row;
    overflow: hidden;
}

#inner_box {
    margin: 10px;
    padding-right: 30px;
    padding-top: 30px;
    background-image: url("../qr-code-component-main/images/image-qr-code.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    /* overflow: auto; */
}

p {
    width: 200px;
    /* padding-left: 5px; */
    margin-top: 165px;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}

#content {
    /* width: 200px; */
    padding-bottom: 10px;
    font-size: small;
    color: hsl(220, 15%, 55%);
    font-weight: lighter;
}